*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  color: white;
  
}

a
{
  text-decoration:none;
  color:white;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;  
    z-index: 1; 
    left: 0; 
     top: 0; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s;

   } 
   .overlay-content {
    position: relative;
    top: 25%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px; 
  }

  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s;
  }
  
  
  .overlay a:hover, .overlay a:focus {
    color: white;
  }
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  } 
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 
  input[type=submit]:hover {
    background-color: 0984e3;
  }

  .container {
    border-radius: 5px;
    background-color: #white;
    padding: 20px;
  }

  body{
    background: url(https://i.gifer.com/D1V.gif);
    background-size: cover;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    
  }
  
/* media for tablet */
  @media screen and (max-width: 768px){}

  /* media for desktop */
  @media screen and (min-width: 820px){}