*{
    background-color: black;
}
.card{
    height: 400px;
    margin-top: 20px;
    background-color: black;display: flex;
}
.img-fluid{
    height: 300px;
    width: 300px;
}
#grid {
    display: flex;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
  
  }
  .crop {
    height: 300px;
    width: 400px;
    overflow: hidden;
   }
   .crop img {
    height: 300px;
    width: 400px;
   }
   /* button{
   
    padding:5px;
    margin-left: 40%;
    font-style: white;
  } */
  .description{
    color: #fff;
  } 
.card-container{
display:grid;
;
}
p{
    display:grid;
    align-items: center;
}